/* aos animation library importation */
@import "../node_modules/aos/dist/aos.css";

/* aos fontawesome library importation */
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

/* smooth effect for the scroll links */
html {
  scroll-behavior: smooth;
}

/* initial section of the landing */
.full-screen-img-initial {
  background-color: black;
  background-image: url("./assets/images/imagen-inicio-landing.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.big-title {
  font-size: 500%;
  text-shadow: 4px 4px 7px rgb(31, 31, 31);
  line-height: 1;
}

.big-subtitle {
  font-size: 250%;
  text-shadow: 4px 4px 7px rgb(31, 31, 31);
  line-height: 1;
}

.initial-nav {
  text-decoration: none;
  color: white;
}

a.initial-links {
  color: white;
  text-shadow: 4px 4px 7px rgb(31, 31, 31);
}

a.initial-links:hover {
  color: rgb(255, 194, 194);
  text-shadow: 6px 6px 7px rgb(31, 31, 31);
}

@keyframes separator-width {
  0% {
    width: 0;
  }

  100% {
    width: 152%;
  }
}

.initial-hr {
  background-color: transparent;
  width: 0;
  border-bottom: 5px dotted white;
  animation: separator-width 1.5s ease-out forwards;
}

.section-hr {
  background-color: transparent;
  width: 93%;
  border-bottom: 5px dotted rgb(187, 187, 187);
}

/* resize for some images */
.resize-image {
  width: 100%;
  max-width: 350px;
}

.resize-image-section-nav {
  width: 100%;
  max-width: 281px;
}

.resize-image-jeringa {
  width: 100%;
  max-width: 320px;
}

.icons {
  opacity: 0.5;
}

.section-nav-link img {
  opacity: 0.7;
  transition: opacity 0.5s;
}

.section-nav-link:hover img {
  opacity: 1;
}

/* contact section */
.full-screen-img-contact {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.2)
    ),
    url("./assets/images/contact-image.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* footer */
.logo-footer {
  opacity: 0.6;
}

/* media queries */
@media screen and (max-width: 768px) {
  .logo-mobile {
    margin-top: 10% !important;
    margin-bottom: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-bottom: 0 !important;
    max-width: 90% !important;
  }

  .title-mobile {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 10% !important;
    padding-right: 10% !important;
  }

  .initial-nav {
    margin: auto !important;
  }

  .arrow {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .initial-hr {
    max-width: 100%;
    margin-left: 0 !important;
  }

  .section-hr {
    max-width: 86% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
  }

  .store-presentation {
    margin-top: 8% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
  }

  .store-presentation-icon-text {
    margin-bottom : 8% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
  }

  .section-nav {
    margin-left: 10% !important;
    margin-right: 10% !important;
    padding: 0 !important;
  }

  .section-nav-title {
    margin-top: 20% !important;
  }

  .image-section-nav {
    margin-left: 0% !important;
    padding: 7% !important;
  }

  .information-section-title {
    margin-top: 0% !important;
  }

  .information-section {
    margin-top: 0% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
  }

  .footer-text {
    margin: 0 !important;
  }

  .footer-logo {
    margin: 0 !important;
    margin-top: 5% !important;
  }
}
