/* aos animation library importation */
@import "../node_modules/aos/dist/aos.css";

/* aos font
awesome library importation */
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

<<<<<<< HEAD
html {
  scroll-behavior: smooth;
}

/*shadow images*/
=======
/* shadow images */
>>>>>>> 49776dc3784b7bd6204b7bdf701d57a351f24761
.shadow-image {
  box-shadow: 5px 5px 10px #666;
}

/* classes of the initial section of the landing */
.full-screen-img-initial {
  background-image: url("./assets/images/imagen-inicio-landing-3.png");
  background-size: cover;
  background-attachment: fixed;
}

.full-screen-img-contact {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.2)
    ),
    url("./assets/images/contact-image.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.big-title {
  font-size: 500%;
  text-shadow: 4px 4px 7px rgb(31, 31, 31);
  line-height: 1;
}

.big-subtitle {
  font-size: 250%;
  text-shadow: 4px 4px 7px rgb(31, 31, 31);
  line-height: 1;
}

.initial-nav {
  text-decoration: none;
  color: white;
}

a.initial-links {
  color: white;
  text-shadow: 4px 4px 7px rgb(31, 31, 31);
}

a.initial-links:hover {
  color: rgb(255, 194, 194);
  text-shadow: 6px 6px 7px rgb(31, 31, 31);
}

@keyframes separator-width {
  0% {
    width: 0;
  }

  100% {
    width: 152%;
  }
}

.initial-hr {
  background-color: transparent;
  width: 0;
  border-bottom: 5px dotted white;
  animation: separator-width 1.5s ease-out forwards;
}

.section-hr {
  background-color: transparent;
  width: 95%;
  border-bottom: 5px dotted rgb(187, 187, 187);
}

.resize-image {
  width: 100%;
  max-width: 350px;
}

.resize-image-section-nav {
  width: 100%;
  max-width: 281px;
}


.resize-image-jeringa {
  width: 100%;
  max-width: 320px;
}
