.shadow-image {
  box-shadow: 5px 5px 10px #666;
}

.full-screen-img {
  background-image: url("./assets/images/imagen\ inicio\ landing.png");
  background-size: cover;
  background-attachment: fixed;
}

.big-title {
  font-size: 450%;
  text-shadow: 4px 4px 7px rgb(31, 31, 31);
}

.big-subtitle {
  font-size: 250%;
  text-shadow: 4px 4px 7px rgb(31, 31, 31);
}

.initial-nav {
  text-decoration: none;
  color: white;
  margin-bottom: 11%;
  margin-left: 70%;
}

a.initial-links {
  color: white;
}
